<a href="https://colab.research.google.com/github/laurenberger11/MIS2800/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

# Type this code exactly as shown to intall the first library needed for SQLite3 to work using SQLite Magic
!pip install --upgrade pandas ipython-sql prettytable==3.10.1

/bin/bash: line 1: pip install --upgrade pandas ipython-sql prettytable==3.10.1: command not found

In [2]:
# Install the SQL extension. Remember to type exactly as shown here.
!pip install ipython-sql
print("ipython sql installed")

/bin/bash: line 1: pip install ipython-sql: command not found
ipython sql installed

In [4]:
%load_ext sql

In [6]:
import sqlite3
print("sqlite3 imported")

sqlite3 imported

In [8]:
# This creates a brand-new, empty database file named 'AdCampaigns2026.db'
conn = sqlite3.connect('SuperBowl_Finance.db')
print("SuperBowl_Finance database created")

SuperBowl_Finance database created

In [11]:
%sql sqlite:///Superbowl_Finance.db

Exercises

In [25]:
%%sql
--Block 1
-- Instructions: Create a table named stock_performance with columns for ticker, price_before_game, price_week_after_
CREATE TABLE IF NOT EXISTS stock_performance (
    ticker TEXT,
    price_before_game REAL,
    price_week_after_game REAL,
    trading_volume_millions INTEGER
) STRICT;

 * sqlite:///Superbowl_Finance.db
Done.

[]

In [15]:
%%sql
INSERT INTO stock_performance (ticker, price_before_game, price_week_after_game, trading_volume_millions)
VALUES
  ('PEP', 168.50, 172.10, 45),
  ('GOOGL', 142.80, 145.20, 110),
  ('AMZN', 170.20, 178.45, 95),
  ('VZ', 40.10, 39.85, 60),
  ('TSLA', 190.00, 185.20, 150),
  ('TMUS', 197.68, 199.34, 100),
  ('STLA', 22.40, 23.10, 15);

 * sqlite:///Superbowl_Finance.db
(sqlite3.OperationalError) near "INSERT INTO stock_performance ": syntax error
[SQL: INSERT INTO stock_performance (ticker, price_before_game, price_week_after_game, trading_volume_millions)
VALUES
  ('PEP', 168.50, 172.10, 45),
  ('GOOGL', 142.80, 145.20, 110),
  ('AMZN', 170.20, 178.45, 95),
  ('VZ', 40.10, 39.85, 60),
  ('TSLA', 190.00, 185.20, 150),
  ('TMUS', 197.68, 199.34, 100),
  ('STLA', 22.40, 23.10, 15);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [16]:
%%sql
CREATE Ad_Buys (
    ticker TEXT PRIMARY KEY,
    company_name TEXT,
    ad_cost_millions REAL,
2/3/26, 8:02 PM IC3_Wk4_20260204_StarterFile.ipynb - Colab
https://colab.research.google.com/github/Bytes-n-Bits/MIS2800/blob/main/IC3_Wk4_20260204_StarterFile.ipynb#printMode=true 1/3
    airtime_seconds INTEGER
) STRICT;

 * sqlite:///Superbowl_Finance.db
(sqlite3.OperationalError) near "CREATE Ad_Buys ": syntax error
[SQL: CREATE Ad_Buys (
    ticker TEXT PRIMARY KEY,
    company_name TEXT,
    ad_cost_millions REAL,
2/3/26, 8:02 PM IC3_Wk4_20260204_StarterFile.ipynb - Colab
https://colab.research.google.com/github/Bytes-n-Bits/MIS2800/blob/main/IC3_Wk4_20260204_StarterFile.ipynb#printMode=true 1/3
    airtime_seconds INTEGER
) STRICT;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [17]:
%%sql
INSERT INTO ad_buys (ticker, company_name, ad_cost_millions, airtime_seconds)
VALUES
  ('PEP', 'PepsiCo', 7.0, 30),
  ('GOOGL', 'Alphabet (Google)', 14.0, 60),
  ('AMZN', 'Amazon', 14.0, 60),
  ('VZ', 'Verizon', 7.0, 30),
  ('TSLA', 'Tesla', 0.0, 0), -- Tesla doesn't buy ads
  ('TMUS', 'Tmobile', 10.0, 30),
  ('STLA', 'Stellantis (Jeep)', 6.5, 30);

 * sqlite:///Superbowl_Finance.db
(sqlite3.OperationalError) near "INSERT INTO ad_buys ": syntax error
[SQL: INSERT INTO ad_buys (ticker, company_name, ad_cost_millions, airtime_seconds)
VALUES
  ('PEP', 'PepsiCo', 7.0, 30),
  ('GOOGL', 'Alphabet (Google)', 14.0, 60),
  ('AMZN', 'Amazon', 14.0, 60),
  ('VZ', 'Verizon', 7.0, 30),
  ('TSLA', 'Tesla', 0.0, 0), -- Tesla doesn't buy ads
  ('TMUS', 'Tmobile', 10.0, 30),
  ('STLA', 'Stellantis (Jeep)', 6.5, 30);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [18]:
# Instructions: Show all the columns from the stock_performance table

In [19]:
# # Instructions: Show the ticker and price before the game
# sort by ticker in alphabetical order from the stock_performance table

In [20]:
# # Instructions: Show all the columns for the brands that have a ticker
# beginning with the letter T in the stock_performance table

In [21]:
# # Instructions: Show only the ticker and price_after_game
# from the stock_performance table if the price is above 150

In [22]:
# Instructions: Show all the columns from the ad_buys table

In [23]:
# # Instructions: Show the ticker and company_name from the ad_buys table in
# sort in descending order by company_name

In [24]:
# # Instructions: Show the ticker and airtime seconds from the ad_buys table
# Filter to show only if the ticker begins with T and and airtime seconds is 0